@media (min-width: 768px) {
  body.index .site-footer {
    margin: 0;
    font-size: 12px;
    text-align: center;
    padding: 24px;
    color: @oc-gray-6;
  }

  .site-footer {
    margin-left: 210px;
    font-size: 12px;
    text-align: center;
    padding: 24px;
    color: @oc-gray-6;
  }
}

@media (max-width: 767px) {
  body.index .site-footer {
    margin: 0;
    font-size: 12px;
    text-align: center;
    padding: 24px;
    color: @oc-gray-6;
  }

  .site-footer {
    // margin-left: 210px;
    font-size: 12px;
    text-align: center;
    padding: 24px;
    color: @oc-gray-6;
  }
}
