body.tags {
  .main-content {
    margin-left: 210px;
    flex-direction: column;
    background-color: #fdfdfd;

    .current-tag-container {
      h2 {
        font-size: 3rem;
        text-align: left;
        color: #ffc402;
        padding: 1em 1.2em 0;
      }
    }

    .tags-container {
      padding: 1.2em;
      flex: 1;
      .tag {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em 1em;
        background: #2a2935;
        color: white;
        border: 0.5em solid #2a2935;
      }
      .tag:hover {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em 1em;
        color: #ffc402;
        border: 0.5em solid #ffc402;
      }
    }
  }
}

@media (max-width: 767px) {
  body.tags {
    .main-content {
      margin-left: 0;
    }
  }
}
